@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ27UHdFlqPbmd71IsjVdnaM8dYuuXSaftkgTmJgs6LaCRagmNx5y6UUorZo4v5LxvS6E0&usqp=CAU');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height :100%;
  width: 100%;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
